body {
  background-color: #fff;
  color: #333;
  font-family: Arial;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 10px;
  line-height: 30px;

  }


h1 {
  color: hotpink;
  border-bottom: 10px dotted purple;
}
h2 {
   font-style: italic;
   font-size: 1.5em;
   }

ul {
    background-color: #eeeeee;
    border: 5px solid purple;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
   }