/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }


  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    }

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;

}

a{
    color: brown;
    line-height: 15px;
}

.parag{
    font-family: Georgia;
    line-height: 20px;
    letter-spacing: 0px;
    text-indent: 20px;
  }

 p{
    font-family: Georgia;
    line-height: 20px;
    letter-spacing: 0px;
  }

ul{
    list-style: square;
  }

nav{
    padding: 40px;
    height: 5px;
  }


nav ul{
  margin: 0;
  list-style: none;
  display: block;
  text-align: center;
  line-height: 30px;
}


nav li{
  display: block;
  line-height: 35px;
  border: 2px solid brown;
  width: 150px;
  height: 45px;
  
}

nav a{
  text-decoration: none;
  }