html, body {
    margin: 0;
    padding: 5%;
  }



html {
    font-size: 10px;
    background-color: #a9a9a9;
  }

  body {
    width: 100%;
    min-width: 450px;
    margin: 0 auto;
  }

.card {
    border: 3px solid black;
    border-radius: 23px;
    width: 500px;
    height: 290px;
}

header{
    background-color: red;
    padding: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

h2{
    padding-left: 10px;
    font-weight: bolder;
    font-size: 25px;
    
}


.article{
    padding: 0px;
    height: 150px;  
    background-color: brown;
}

.address{
        float: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 18px;
        color: white;
        padding: 10px;
        background-color: brown;
        }

.aside{
     float: right;
    }

img{
    width: 150px;
    height: 150px;
    background-color: none;
    padding-right: 0px;
}


.footer{ 
        background-color: red;
        padding: 3px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
}

p{
    padding-left:  10px;
    font-size: 20px;
    font-weight: 900;
}
