body{
      background-color: #fff;
      color: #333;
      margin: 0 auto ;
      font-size: 15px;
      list-style: 10px;
      max-width: 980px;
      border: 1px solid black;
    }

.header{
        font-size: 300%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 70px;
        padding-left: 90px;
        height: 1px;
      }

img {
      max-width: 100%;
      display: block;
    }

nav{
    background-color: #000;
    padding: .5em;
    height: 15px;
    max-width: 980px;
  }

nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
        flex: 2;
        display: flex;
        text-align: center;
      }

nav li{
        display: inline;
        text-align: center;
        flex: 1; 
      }

nav a{
      color: #fff;
      padding-left: 0px;
      height: 3rem;
      font-size: 1rem;
      line-height: 1;
      text-decoration: none;
      display: inline
    }

  main{
        display: flex;
        padding-left: 90px;
        padding-right: 90px;
        max-width: 980px;
      }

.feature{ 
          float: left;
          margin: 0 10px 10px 0;
          width: 150px;
          height: 150px;
        }

.writeup{
          flex: 5px;
          padding-right: 50px;
          padding-bottom: 10px;
        }


.images{
        display: flex;
        gap: 1px;
        height: 200px;
        width: 200px;
      }

.photo{ 
        display: block;
        height: 100px;
        width: 100px;
      }

h1,h2,.header{
              font-style: italic;
              text-transform: uppercase;
              font-family: Arial, Helvetica, sans-serif;
            }


  



  


